<!DOCTYPE html>
<html>
  <head>
    <title>Conway's Game of Life</title>
  </head>
  <body>
    <header>Conway's Game of Life</header>
    <section id="game">
      <div id="status">Connecting...</div>
      <pre id="game-output"></pre>
    </section>

    <script src="static/index.js"></script>
  </body>
</html>
